.middle-row {
	width: 100%;
	display: flex;
	overflow: hidden;
	padding: 3rem;
	background-image: linear-gradient(to bottom right, #3a404a, #3a404a, #49505c, #49505c, #3a404a, #3a404a);
}

.middle-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.middle-left p {
	font-family: 'JosefinSans-Light';
	color: #faebd7;
	text-align: justify;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	line-height: 1.9rem;
}

.holly-img {
	width: 80px;
	z-index: 3;
	transform: rotate(6deg);
	animation: holly 2s ease-in-out infinite;
	position: absolute;
	left: 5%;
	top: 0;
}


@keyframes holly {
	0% {
		top: 0;
	}

	50% {
		opacity: .8;
		top: -3px;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

.holly-ui-img {
	background-color: #272727b5;
	border-radius: 5%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.holly-ui-img-container {
	max-width: 350px;
	position: relative;
}

.holly-logo-img {
	max-width: 180px;
	margin-bottom: 1rem;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-outline-primary {
	color: #faebd7;
	padding: .5rem 1rem .25rem 1rem;
	border-color: rgba(250, 235, 215, .9);
	border-width: 4px;
	border-style: double;
	border-radius: 30px;
	font-size: 1.25rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	margin-bottom: 1rem;
}

.btn-outline-primary:hover {
	background-color: #faebd7;
	border-color: #faebd7;
	color: #3a404a;
	box-shadow: none;
}

.middle-row h2 {
	color: #faebd7;
	margin-bottom: 0;
}