.bottom-row {
	width: 100%;
	overflow: hidden;
	background: linear-gradient(to bottom right, #bd512a, #db7332, #bd512a);
	padding: 3rem;
}

.bottom-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottom-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottom-row h2 {
	font-size: 4rem;
	color: #faebd7;
	text-shadow: 2px 1px rgba(0, 0, 0);
}

.bottom-row p {
	font-family: 'JosefinSans-Light';
	color: #faebd7;
	text-align: justify;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	line-height: 1.9rem;
  }

.antenna {
	width: 130px;
	height: 130px;
	position: relative;
	top: 45px;
	background-image: linear-gradient(to bottom right, #171717, #3d3d3c);
	clip-path: polygon(4% 17%, 3% 18%, 30% 50%, 50% 70%, 52% 71%, 100% 20%, 98% 19%, 50% 65%);
	left: 30px;
	top: 6px;
}

.lightbright-tv {
	display: flex;
	justify-content: center;
	position: relative;
	width: 260px;
	height: 220px;
	background: #2B2928;
	border-radius: 50% / 13%;
	z-index: 4;
	top: -40px;
}

.lightbright-tv:before {
	content: '';
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -5%;
	background: inherit;
	border-radius: 7% / 51%;
}

.lightbright-image {
	position: relative;
	top: -10px;
	width: 240px;
	height: 180px;
	margin: 28px 0;
	border-radius: 50% / 10%;
}

.lightbright-image:before {
	content: '';
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: 5%;
	left: 5%;
	background-image: url('../../Assets/images/lightbright.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10% / 50%;
	border-left: 2px solid #171717;
	border-top: 2px solid #171717;
	border-right: 3px inset #171717;
	border-bottom: 3px inset #171717;
	box-shadow: 2px 2px 6px rgba(255, 255, 255, .25);
}

.tv-legs {
	display: flex;
	justify-content: space-between;
	width: 240px;
	position: relative;
	top: -56px;
  	left: 10px;
}

.leg {
	width: 36px;
	height: 40px;
	clip-path: polygon(20% 0%, 80% 0, 65% 100%, 35% 100%);
	background-image: linear-gradient(to bottom right, #171717, #3d3d3c);
	border-bottom: 2px solid rgba(0, 0, 0, .5);

}

@media (max-width: 991px) {
	.bottom-row {
		padding: 2rem 1rem;
	}
}

@media (max-width: 767px) {
	.bottom-row p {
		padding: 1rem 1rem 0 1rem;
		text-align: left;
	}
	.bottom-row h2 {
		font-size: 3rem;
	}
}