*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'JosefinSans-Bold';
	src: local('JosefinSans-Bold'), url(./Assets/fonts/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'JosefinSans-Light';
	src: local('JosefinSans-Light'), url(./Assets/fonts/JosefinSans-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Kalam-Bold';
	src: local('Kalam-Bold'), url(./Assets/fonts/Kalam-Bold.ttf) format('truetype');
}

.App {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B2928;
	font-family: 'JosefinSans-Bold', sans-serif;
	overflow: auto;
}

.main {
	height: 750px;
	width: 550px;
	max-height: 750px;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

@media only screen and (max-width: 500px) {
	.main {
		height: 600px;
		width: 320px;
		max-height: 600px;
		max-width: 320px;
		min-height: 600px;
		min-width: 320px;
	}
}