*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'JosefinSans-Bold';
	src: local('JosefinSans-Bold'), url(./Assets/fonts/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'JosefinSans-Light';
	src: local('JosefinSans-Light'), url(./Assets/fonts/JosefinSans-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Kalam-Bold';
	src: local('Kalam-Bold'), url(./Assets/fonts/Kalam-Bold.ttf) format('truetype');
}

.App {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B2928;
	font-family: 'JosefinSans-Bold', sans-serif;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar {
	display: none;
}

.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	display: grid;
    grid-template-rows: auto auto auto;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

.container, .row {
	padding-left: 0;
	padding-right: 0;
}

.main::-webkit-scrollbar {
	display: none;
}
